
.chat .chat-window-wrapper {
  max-height: 200px;
  overflow-y: scroll;
}
.chat .chat-window-wrapper .chat-window {
  background-color: white;
}
.chat .chat-window-wrapper .chat-window tbody tr .user {
  width: 1%;
  text-align: center;
}
.chat form textarea {
  resize: none;
  width: 100%;
}
