<!DOCTYPE html>
<html ng-app="beviewed" ng-controller="communityCtrl">
<head>
	<title>BeViewd- Community</title>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<% include head %>
	<link type="text/css" rel="stylesheet" href="/style/community.css" />
</style>
</head>
<body
	ng-swipe-right="swipeRight()"
	ng-swipe-left="swipeLeft()">
	<% include nav %>
	<div class="side-nav">
		<div class="navbar navbar-inverse" role="navigation">
			<button class="btn navbar-btn btn-default"
				ng-class="currentTab('what-up')"
				ng-click="current = 'what-up'">
				What's up
			</button>
			<button class="btn navbar-btn btn-default"
				ng-class="currentTab('social')"
				ng-click="current = 'social'">
				Social
			</button>
			<button class="btn navbar-btn btn-default ng-hide" ng-show="memberType == 'admin'"
				ng-class="currentTab('admin')"
				ng-click="current = 'admin'">
				Admin panel
			</button>
		</div>
	</div>
	<div class="main-content">
		<div class="row">
			<div class="col-12 col-sm-12 col-lg-12">
				<h1 class="community-header pull-left">{{ capitalize(community.name) }} <i ng-show="isMember()" class="has-joined glyphicon glyphicon-ok text-success"></i></h1>
				<button ng-hide="isMember()" class="btn btn-success join pull-left" ng-click="join()">
					Join
				</button>
			</div>
			<% include community/what-up %>
			<% include community/social %>
			<% include community/admin %>
		</div>
	</div>
	<!-- Community data -->
	<div class="community-data" ssv="communityData">
		<%= '{"community":'+JSON.stringify(community)+',"user":'+JSON.stringify(user)+'}' %>
	</div>
</body>
</html>