<!DOCTYPE html>
<html ng-app="beviewed" ng-controller="communityCtrl">
<head>
	<title>{{ capitalize(community.name) }}</title>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<% include head %>
	<link type="text/css" rel="stylesheet" href="/style/community.css" />
</style>
</head>
<body
	ng-swipe-right="swipeRight()"
	ng-swipe-left="swipeLeft()">
	<% include nav %>
	<div class="side-nav">
		<div class="navbar navbar-inverse" role="navigation">
			<button class="btn navbar-btn btn-default"
				ng-class="currentTab('what-up')"
				ng-click="current = 'what-up'">
				What's up
			</button>
			<button class="btn navbar-btn btn-default"
				ng-class="currentTab('social')"
				ng-click="current = 'social'">
				Social
			</button>
		</div>
	</div>
	<div class="main-content">
		<div class="row">
			<div class="col-12 col-sm-12 col-lg-12">
				<h1 class="community-header pull-left">{{ capitalize(community.name) }} <i ng-show="isMember()" class="has-joined glyphicon glyphicon-ok text-success"></i></h1>
				<button ng-hide="isMember()" class="btn btn-success join pull-left" ng-click="join()">
					Join
				</button>
			</div>
			<!-- What'up -->
			<div class="col-lg-12 pull-left" ng-show="active('what-up')">
				<div class="well well-large">
					<!-- Feed -->
					<div class="row">
						<div class="col-12 col-sm-6 col-lg-6">
							<div embeder="mainFeed.media" embeder-src="mainFeed.mediaData"></div>
						</div>
						<div class="col-12 col-sm-6 col-lg-6 info">
							<h1>{{mainFeed.title}}</h1>
							<p>{{mainFeed.text}}</p>
						</div>
					</div>
				</div>
				<!-- Feed overview -->
				<div class="well">
					<div ng-show="feedFilter(novelty)" class="novelty" ng-repeat="(i, novelty) in feed">
						<button ng-click="setMainFeed(i)" class="btn btn-primary">{{novelty.title}}</button>
					</div>
				</div>
				<!-- Now here's just some nifty info -->
				<div class="row">
					<div class="col-sm-6 col-lg-6">
						<div class="well">
							<h3 class="text-center">Fame {{community.fame}}<h3/>
							<div class="progress">
								<div class="progress-bar progress-bar-success" style="width:{{community.progress}}%;"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6">
						<div class="well">
							<h3 class="text-center">Members {{community.userCount}}</h3>
							<div class="progress">
								<div class="progress-bar progress-bar-success" style="width:85%;"></div>
								<div class="progress-bar progress-bar-primary" style="width:15%;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Social -->
			<div class="col-lg-12" ng-show="active('social')">
				<div class="well well-large">
					<div class="row">
						<!-- Chat -->
						<div class="col-sm-10 col-lg-10 chat">
							<div class="chat-window-wrapper">
								<table class="table table-bordered chat-window">
									<tbody>
										<tr ng-repeat="entry in chats[activeRoomData]">
											<td class="user"><strong>{{entry.user}}</strong></td>
											<td>{{entry.msg}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<form >
								<textarea class="form-control" rows="{{inputSize}}" ng-model="messageText" placeholder="Enter message">
								</textarea>
							</form>
						</div>
						<!-- Chat room nav -->
						<div class="col-sm-2 col-lg-2">
							<ul class="nav nav-pills nav-stacked">
								<li ng-class="isCurrentRoom(room)"
									ng-click="setRoom(i)"
									ng-repeat="(i, room) in community.rooms">
									<a class="text-center" href="#">
										{{ capitalize(room) }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Community Members -->
				<div class="well">
					<!-- Hosts -->
					<h3>Hosts</h3>
					<ul style="list-style:none;margin-bottom:40px;margin-left:0px;">
						<li class="hosts-li" ng-repeat="admin in community.admins">
							<div user="admin" />
						</li>
					</ul>
					<!-- Members -->
					<h3>Members</h3>
					<ul style="list-style:none;margin-left:0px;">
						<li  ng-repeat="member in members">
							<div user-local="member" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Community data -->
	<div class="community-data" ssv="communityData">
		<%= '{"community":'+JSON.stringify(community)+',"user":'+JSON.stringify(user)+'}' %>
	</div>
</body>
</html>