<!DOCTYPE html>
<html ng-app="beviewed">
<head>
	<% include head %>
	<link rel="stylesheet" type="text/css" href="/style/create-community.css">
	<title>Beviewed - Create community</title>
</head>
<body ng-controller="createCommunity">
	<% include nav %>
	<div class="warner">
		<div class="alert shake-animation" ng-repeat="(i, warning) in warnings">
			<button ng-click="warnings.splice(i,1)" type="button" class="close" aria-hidden="true">&times;</button>
			<h2>{{warning}}</h2>
		</div>
	</div>
	<div class="container" ng-init="fields = { tags: [] }; step = 1">
		<!-- Step one -->
		<div ng-show="step == 1">
			<!-- Name-field -->
			<p class="lead text-center">
				Allright, let's get this started. First of all
				you need a kickass name for your community.<br/>
				And make sure it's like atleast 8 characters long
			</p>
			<div class="form-group" ng-class="validate('name')">
				<div class="input-group">
					<input type="text" class="form-control name-field" placeholder="Your kickass name" ng-model="fields.name" ng-init="fields.name = ''"/>
					<span class="input-group-addon">
						<span ng-class="validateIcon('name')"></span>
					</span>
				</div>
			</div>

			<!-- Type-field -->
			<p class="lead text-center">
				Awesome! Now we need to select the type of community<br/>
				You can choose between creative and reviewer
			</p>
			<div class="btn-group big-sel">
				<button class="btn btn-large btn-primary"
						ng-click="stepOne('creative')">
					Creative
				</button>
				<button class="btn btn-large btn-success"
						ng-click="stepOne('reviewer')">
					Reviewer
				</button>
			</div>
		</div>
		<!-- Step two -->
		<div ng-show="step == 2">
			<!-- Tag selection -->
			<p class="lead text-center">
				Allright now we're getting somewhere!<br/>
				Let's add some tags that the describe the community, tags are a greate way to make sure the right people find your content.
				<a href="#">read more about tags here</a>
			</p>
			<div class="row">
				<!-- Tag filter -->
				<div class="col-sm-7 col-lg-6">
					<div class="well tags">
						<input ng-init="tagSearch = ''" ng-model="tagSearch" type="text" class="form-control tagSearch" placeholder="Search for tags" />
						<div class="row">
							<div ng-show="displayTag(tag)" class="tag-item bounce-animation" ng-repeat="tag in tags" ng-click="fields.tags.push(tag)">
								<img class="img-rounded" ng-src="/img/tags/{{tag}}" />
							</div>
						</div>
					</div>
				</div>
				<!-- Tag Display -->
				<div class="col-sm-5 col-lg-6">
					<div class="well tags">
						<p class="lead">Selected tags</p>
						<div class="tag-item sel-item bounce-animation"
							ng-repeat="(i, tag) in fields.tags"
							ng-click="fields.tags.splice(i, 1)">
							<img class="img-rounded" ng-src="/img/tags/{{tag}}" />
						</div>
					</div>
				</div>
			</div>
			<!-- Icon select -->
			<div class="icon-select">
				<p class="lead text-center">Greate! For some additional uniqueness, let's add an image for your community.</p>
				<!-- Hidden -->
				<input id="img-upload" type="file" 
					accept="image/*" 	
					image="icon"
					resize-max-width="200"
					resize-max-height="200"
					resize-quality="0.7" />
				<div class="row">
					<div class="col-6 col-sm-6 col-lg-6">
						<button class="btn btn-large btn-success upload-btn btn-block"
							ng-click="runUpload()">
							<span ng-class="isUploadingInverse()">Upload image</span>
							<div ng-class="isUploading()" ng-hide="icon.resized.dataURL">Loading...</div>
							<img class="upload-img img-rounded" ng-show="icon.resized.dataURL" 
								ng-src="{{icon.resized.dataURL}}"/>
						</button>
					</div>
					<div class="col-6 col-sm-6 col-lg-6">
						<button class="btn btn-large btn-info goto-step3-btn btn-block" ng-click="stepTwo(icon.resized.dataURL)">
							Moving on
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Step 3 -->
		<div ng-show="step == 3">
			<p class="lead text-center">
				Super, now we're almost done! There is one final thing left, we'd love if you could write a nice little description of the community
			</p>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group" ng-class="validate('description')">
						<textarea ng-init="fields.description=''" ng-model="fields.description" class="form-control description-field" rows="3">
						</textarea>
					</div>
					<p class="text-muted">Make sure you write atleast something, but don't go above 160 characters please.</p>
				</div>
				<div class="col-lg-12">
					<button class="btn btn-large btn-success btn-block btn-roll" ng-click="create()">
						Let's roll
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-fixed-bottom bottom-bar text-center">
		<button class="btn btn-large" ng-class="current(1)" ng-click="go(1)">
			Step 1
		</button>
		<button class="btn btn-large" ng-class="current(2)" ng-click="go(2)" ng-disabled="maxStep < 2">
			Step 2
		</button>
		<button class="btn btn-large" ng-class="current(3)" ng-click="go(3)" ng-disabled="maxStep < 3">
			Step 3
		</button>
	</div>
	<div class="user-data" ssv-parse="user" style="display:none;">
		<%= JSON.stringify(user) %>
	</div>
</body>
</html>