<!DOCTYPE html>
<html ng-app="beviewed">
<head>
	<% include head %>
	<link rel="stylesheet" type="text/css" href="/style/dashboard.css">
	<title>Beviewed</title>
</head>
<body ng-controller="dashboardCtrl">
	<% include nav %>
	<div class="row">
		<!-- Menu -->
		<div class="col-sm-3 col-lg-2">
			<a href="/write/5208cfd973b5d9a01d000001" class="btn btn-large btn-primary btn-block">
				Write
			</a>
			<a href="/create-community" class="btn btn-large btn-success btn-block">
				Create a community
			</a>
			<button class="btn btn-large btn-info btn-block">
				Edit feed
			</button>
		</div>
		<!-- feed -->
		<div class="col-lg-6">
			<div class="novelty" ng-repeat="novelty in feed">
				<div class="well">
					<div class="row">
						<div class="col-lg-6">
							<div embeder="novelty.media" embeder-src="novelty.mediaData">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="info">
								<h2>{{novelty.title}}</h2>
								<p>{{limit(novelty.text, 120)}}</p>
							</div>
							<div class="actions">
							<!-- Goto community -->
							<div class="btn btn-mini btn-block btn-primary mini">
								<span class="glyphicon glyphicon-fullscreen"></span>
							</div>
							<!-- Share -->
							<div class="btn btn-mini btn-block btn-primary mini">
								<span class="glyphicon glyphicon-share-alt">
								</span>
							</div>
							<!-- Love -->
							<div class="btn btn-mini btn-block btn-primary mini">
								<span class="glyphicon glyphicon-heart">
								</span>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="well text-center text-muted">
				Something else
			</div>
		</div>
	</div>
	<div class="user-data" ssv="user">
		<%= JSON.stringify(user) %>
	</div>
</body>
</html>