<!DOCTYPE html>
<html ng-app="beviewed">
<head>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<% include head %>
	<link rel="stylesheet" type="text/css" href="/style/dashboard.css">
	<title>Beviewed</title>
</head>
<body ng-controller="dashboardCtrl">
	<div class="snap-drawers">
		<div class="snap-drawer snap-drawer-left side-nav" >
			<a class="btn btn-block btn-default btn-large" hover="btn-success" href="/write">
				Write
			</a>
			<a class="btn btn-block btn-default btn-large" hover="btn-success" href="/create-community">
				Create community
			</a>
			<button class="btn btn-block btn-default btn-large" hover="btn-success">
				Feed settings
			</button>
		</div>
	</div>
	<div id="content" class="snap-content" >
		<% include nav %>
		<div class="row">
			<!-- feed -->
			<div class="col-12 col-lg-12">
				<div class="novelty" ng-repeat="novelty in feed">
					<div class="well">
						<div class="row">
							<div class="col-sm-6 col-lg-6">
								<div embeder="novelty.media" embeder-src="novelty.mediaData">
								</div>
							</div>
							<div class="col-sm-6 col-lg-6">
								<div class="info">
									<h2>{{novelty.title}}</h2>
									<p>{{limit(novelty.text, 120)}}</p>
								</div>
								<div class="actions">
									<!-- Goto community -->
									<a ng-href="/community/{{novelty.community}}" class="btn btn-mini btn-block btn-primary mini">
										<span class="glyphicon glyphicon-fullscreen"></span>
									</a>
									<!-- Share -->
									<div class="btn btn-mini btn-block btn-primary mini">
										<span class="glyphicon glyphicon-share-alt">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="user-data" ssv="user">
			<%= JSON.stringify(user) %>
		</div>
	</div>
<% include tracking %>
</body>
</html>