<!DOCTYPE html>
<html>
<head>
	<% include head %>
	<title>Beviewed</title>
</head>
<body>
	<% include nav %>
	<div class="row">
		<!-- Menu -->
		<div class="col-lg-2">
			<a href="/create-community" class="btn btn-large btn-success btn-block">
				Create a community
			</a>
			<button class="btn btn-large btn-info btn-block">
				Edit feed settings
			</button>
		</div>
		<!-- Community feed -->
		<div class="col-lg-5">
		</div>
		<!-- Reviewer feed -->
		<div class="col-lg-5">
		</div>
	</div>
</body>
</html>