<!DOCTYPE html>
<html ng-app="beviewed" ng-controller="exploreCtrl" 
	ng-swipe-right="swipeRight()"
	ng-swipe-left="swipeLeft()">
<head>
	<% include head %>
	<link rel="stylesheet" type="text/css" href="/style/explore.css">
	<title>Beviewed - Explore</title>
</head>
<body>
	<!-- Side navigation -->
	<div class="snap-drawers">
		<div class="snap-drawer snap-drawer-left side-nav">
			<div class="btn-group btn-type">
				<button class="btn navbar-btn btn-default btn-type"
					ng-class="currentType('makers')"
					ng-click="searchType = 'makers'">
					<span class="discrete">
						Makers
					</span>
				</button>
				<button class="btn navbar-btn btn-default btn-type"
					ng-class="currentType('reviewers')"
					ng-click="searchType = 'reviewers'">
					<span class="discrete">
						Reviewers
					</span>
				</div>
				<form class="navbar-form form-inline">
				<input  type="text" class="form-control" placeholder="Search for tags" ng-init="tagSearch = ''" ng-model="tagSearch" />
			</form>
			<div class="row side-nav-row">
					<div ng-show="displayTag(tag)" class="tag-item bounce-animation" ng-repeat="tag in tags" ng-click="selectedTags.push(tag)">
						<img class="img-rounded" ng-src="/img/tags/{{tag}}" />
					</div>
				</div>
			</div>
		<div/>
	</div>
	<div id="content" class="snap-content">
		<% include nav %>
		<div class="row">
			<!-- Right side -->
			<div class="col-sm-12 col-lg-12">
				<!-- Query -->
				<div class="row">
					<!-- Main query -->
					<div class="col-lg-6">
						<input ng-init="mainQuery = ''" class="form-control main-query" ng-model="mainQuery" placeholder="Search for a community" />
					</div>
					<!-- Tag filter -->
					<div class="col-sm-12 col-lg-6">
						<div class="well tag-filter">
							<div ng-repeat="(i, tag) in selectedTags" ng-click="selectedTags.splice(i, 1)" class="bounce-animation">
								<img class="img-rounded tag-img" ng-src="/img/tags/{{tag}}" />
							</div>
						</div>
					</div>
				</div>
				<!-- Displaying -->
				<div class="row displaying">
					<div class="well">
						<div ng-show="displayCommunity(community)" class="community" ng-repeat="community in communities">
							<div community="community['_id']" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include tracking %>
</body>
</html>