<html ng-app="beviewed">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Be Viewed</title>
	<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap-responsive.min.css" />
	<style type="text/css">
	.embed {
		height: 400px;
	}
	@media(max-width: 939) {
		.embed {
			height: 200px;
		}
	}

	@media(max-width: 1299) {
		.embed {
			height: 300px;
		}
	}
	</style>
</style>
</head>
<body>
	<!-- Site navigation -->
	<div class="navbar">
		<div class="navbar-inner">
			<a href="#" class="brand">Be viewed</a>
			<ul class="nav pull-right">
				<li><a class="btn" href="#">
					<i class="icon-globe"></i>
					Explore
				</a></li>
				<li><a class="btn" href="#">
					<i class="icon-user"></i>
					Profile
				</a></li>
			</ul>
		</div>
	</div>
	<div class="row-fluid" ng-controller="communityNavCtrl">
		<!-- Community nav -->
		<div class="span2">
			<ul class="nav nav-pills nav-stacked ">
				<li class="{{ active('what-up') }}">
					<a ng-click="current = 'what-up'" class="text-center" href="#">What's up</a>
				</li>
				<li class="{{ active('social') }}">
					<a ng-click="current = 'social'" class="text-center" href="#">Social</a>
				</li>
			</ul>
		</div>
		<!-- What'up -->
		<div class="span10" ng-show="active('what-up')">
			<div class="well well-large">
				<!-- Feed -->
				<div class="row-fluid">
					<embed class="span6 embed" src="http://www.youtube.com/embed/pngO2pRNYOA">
					<div class="span6 info">
						<h1>Title</h1>
						<p>"But I am going to fight a duel with this gentleman."</p>
					</div>
				</div>
			</div>
			<!-- Now here's just some nifty info -->
			<div class="row-fluid">
				<div class="span4 well well-large">
					<h3 class="text-center">Fame 3<h3/>
					<div class="progress">
						<div class="bar bar-success" style="width:30%;"></div>
					</div>
				</div>
				<div class="span4 well well-large">
					<h3 class="text-center">Members 102</h3>
					<div class="progress">
						<div class="bar bar-success" style="width:85%;"></div>
						<div class="bar bar-info" style="width:15%;"></div>
					</div>
				</div>
				<div class="span4 well well-large">
					<h3 class="text-center">Awesomeness 9000+</h3>
					<div class="progress">
						<div class="bar bar-success" style="width:0%;"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Social -->
		<div class="span10" ng-show="active('social')">
			<div class="well well-large">
				<div class="row-fluid">
					<!-- Chat -->
					<div class="span5 chat">
						<table class="table table-bordered chat-window">
							<tbody>
								<tr ng-repeat="entry in chatlog">
									<td tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{entry.time}}" class="user"><strong>{{entry.user}}</strong></td>
									<td>{{entry.content}}</td>
								</tr>
							</tbody>
						</table>
						<form ng-submit="sendMessage(messageText)">
							<textarea rows="{{inputSize}}" ng-model="messageText" placeholder="Enter message">
							</textarea>
						</form>
					</div>
					<div class="span2">
						<ul class="nav nav-pills nav-stacked">
							<li class="active">
								<a class="text-center" href="#">Feedback</a>
							</li>
							<li>
								<a class="text-center" href="#">Social</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>