<!DOCTYPE html>
<html ng-app="beviewed">
<head>
	<title>Beviewed</title>
	<% include head %>
	<style type="text/css">

	@media(max-width: 769px) {
		.greet {
			margin-bottom: 30px;
		}

		.login h2, .signup h2 {
			font-size: 24px;
		}
	}

	.greet span span {
		white-space: nowrap;
	}
	</style>
</head>
<body class="container-fluid" ng-controller="indexCtrl">
	<% include nav %>
	<div modal="login" close="loginDialog.close()">
		<h3 class="modal-header">Login</h3>
	</div>
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-6 greet">
				<h1><span>Welcome to <span>BeViewed</span></span><br/><small class="under">- It's about quality</small></h1>
			</div>
			<div class="col-lg-6">
				<button class="btn btn-large btn-success login" style="width:46%;">
					<h2>Login</h2>
				</button>
				<button class="btn btn-primary btn-large signup" style="width:50%;">
					<h2>Signup</h2>
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 sub-menu">
			<div class="well">
				<div>
					<h2>It should be easy</h2>
					<p class="lead">
						We at BeViewed believe it shouldn’t be too complicated . Communities should be easy to create, easy to join and easy to expand.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 sub-menu">
			<div class="well">
				<div>
					<h2>It should be quality</h2>
					<p class="lead">
						We strive to create a community, where talent and hard work is supreme. We believe the only factors for your success should be skill, passion and ambition. 
					<p/>
				</div>
			</div>
		</div>
		<div class="col-lg-4 sub-menu">
			<div class="well">
				<div>
					<h2>It should be more</h2>
					<p class="lead">
						We want to give you everything you need! Great tools for rating, reviewing and sharing communities is key for creating high quality and entertaining media.
						<br/><br/> 
					</p>
				</div>
			</div>
		</div>
	</div>
</body>