<!DOCTYPE html>
<html ng-app="beviewed">
<head>
	<title>Beviewed</title>
	<% include head %>
	<link rel="stylesheet" type="text/css" href="/style/index.css">
</head>
<body class="container-fluid" ng-controller="indexCtrl">
	<div id="content">
		<div class="row">
			<div class="col-sm-6 col-lg-6 greet">
				<h1><span>Welcome to <span>BeViewed</span></span><br/><small class="under">- It's about quality</small></h1>
			</div>
			<div class="col-sm-6 col-lg-6">
			<form role="form" class="inline-form">
			<div class="pull-left field">
				<div class="form-group">
					<input sub="login" type="email" ng-model="loginFields.email" class="form-control" placeholder="Your email" />
				</div>
				<div class="form-group">
					<input sub="login" type="password" ng-model="loginFields.pass" class="form-control" placeholder="Your super secret password" />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<button ng-click="login()" type="submit" class="btn btn-success btn-large btn-block action">Login</button>	
				</div>
				<div class="col-lg-6">
					<button ng-click="signup()" type="submit" class="btn btn-info btn-large btn-block action">Sign up</button>
				</div>
			</div>
			</form>
			</div>
		</div>
		<div class="row catcher">
		<div class="col-lg-4 sub-menu">
			<div class="well">
				<div>
					<h2>It should be easy</h2>
					<p class="lead">
						We at BeViewed believe it shouldn’t be too complicated . Communities should be easy to create, easy to join and easy to expand.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 sub-menu">
			<div class="well">
				<div>
					<h2>It should be quality</h2>
					<p class="lead">
						We strive to create a community, where talent and hard work is supreme. We believe the only factors for your success should be skill, passion and ambition. 
					<p/>
				</div>
			</div>
		</div>
		<div class="col-lg-4 sub-menu">
			<div class="well">
				<div>
					<h2>It should be more</h2>
					<p class="lead">
						We want to give you everything you need! Great tools for rating, reviewing and sharing communities is key for creating high quality and entertaining media.
						<br/><br/> 
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
<% include tracking %>
</body>
</html>