<!-- Site navigation -->
<div class="navbar" role="navigation">
		<a href="/" class="navbar-brand">Be viewed</a>
		<ul class="nav navbar-nav pull-right">
			<li><a class="btn" href="/explore">
				<i class="glyphicon glyphicon-globe"></i>
				<span>Explore</span>
			</a></li>
			<li><a class="btn" href="/profile/5208cfd973b5d9a01d000001">
				<i class="glyphicon glyphicon-user"></i>
				<span class="">Profile</span>
			</a></li>
		</ul>
</div>