<!-- Site navigation -->
<div class="navbar">
	<div class="navbar-inner">
		<a href="/" class="brand">Be viewed</a>
		<ul class="nav pull-right">
			<li><a class="btn" href="#">
				<i class="icon-globe"></i>
				Explore
			</a></li>
			<li><a class="btn" href="/profile">
				<i class="icon-user"></i>
				Profile
			</a></li>
		</ul>
	</div>
</div>