<!DOCTYPE html>
<html ng-app="beviewed">
<head>
	<title>Beviewed - Profile</title>
	<% include head %>
	<link rel="stylesheet" type="text/css" href="/style/profile.css">
</head>
<body>
	<% include nav %>
	<div ng-controller="profileCtrl">
		<!-- Introduction -->
		<div class="profile">
			<div class="thumbnail">
				<img ng-src="/img/users/{{user['_id'] }}"
					class="media-object img-rounded user" onerror="$(this).attr('src','/img/unknown.png')" ></img>
				<div class="caption">
					<h3 class="hidden-sm">A little about {{cap(user.firstName)}}</h3>
			<address>
				<strong>Full Name</strong><a popup="setName" class="edit"><i ng-show="write" class="glyphicon glyphicon-pencil icon-white"></i></a>
				<p>{{cap(user.firstName)}} {{cap(user.lastName)}}</p>

				<strong>Country</strong><a popup="setCountry" options="countries" class="edit"><i ng-show="write" class="glyphicon glyphicon-pencil icon-white"></i></a></button>
				<p>{{countries[user.country]}}</p>
				<strong>Contact</strong><a  class="edit"><i ng-show="write" class="glyphicon glyphicon-pencil icon-white"></i></a><br/>
				<p>{{user.email}}</p>
			</address>
				</div>
				<% if(write){ %><button class="btn btn-warning btn-block" ng-click="signout()">Sign out</button><% } %>
			</div>
		</div>
		<!-- Communities -->
		<div class="communities">
			<div class="row">
				<div class="col-12 col-sm-12 col-lg-6">
					<div class="well">
						<!-- Hosting communitites -->
						<h2 class="text-center community-header">Admin of <span class="text-success">{{user.admin.length}}</span> communities</h2>
						<ul class="admin-communitites">
							<li class="community-li" ng-repeat="community in user.admin">
								<div community="community" />
							</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-lg-6">
					<div class="well">
						<!-- Involved communities -->
						<h2 class="text-center community-header">Involved in <span class="text-success">{{user.in.length}}</span> community</h2>
						<ul class="involved-communities">
							<li ng-repeat="community in user.in" class="community-li">
								<div community="community" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- User data -->
		<div class="ng-hide" ssv-parse="user" ><%= JSON.stringify(user) %></div>
		<div class="ng-hide" ssv-parse="write" ><%= write %></div>
	</div>
<% include tracking %>
</body>
</html>