@import "community/chat.less";
@import "libs/side-nav.less";

.community-data {
	display: none;
}

.embed {
	height: 200px;
	width: 100%;
}

.embed.yt {
	height: 300px;
}

.join {
	margin-left: 10px;
}

.user {
	width: 100%;
}

.community-header {
	padding-left: 40px;
	padding-bottom: 10px;
	margin-top: 0px;
}

.novelty {
	display: inline-block;
	margin-left: 10px;
}

.host-filter {
	height:36px;
	font-size:22px;
	line-height:36px;
	width:200px;
}

.hosts-li {
	width: 14%;
	max-width: 120px;
}

@media(max-width: 939) {
	.embed {
		height: 200px;
	}

	.embed.yt {
		height: 200px;
	}
}

@media(max-width: 1299) {
	.embed {
		height: 200px;
	}
}

@media(max-width: 769) {
	.host-filter {
		width: 150px;
		font-size: 18px;
	}

	.hosts-li {
		width: 25%;
	}
}